.btn-blue {
	background-color: #133b5c;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
}

.btn-blue:hover {
	background-color: #ffaa71;
	color: white;
}

